{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.upcoming_events_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.upcoming_events_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.event_name'|trans }}</th>
                <th>{{ 'label.date'|trans }}</th>
                <th>{{ 'label.category_name'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ event.category.name }}</td>
                    <td><a href="{{ url('event_show', {'id': event.id}) }}" title="{{ 'show.event'|trans }}">{{ 'show.event'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.no_data'|trans }}
        </p>
    {% endif %}
    <div class="link-centered">
        <a href="{{ url('event_index') }}" title="{{ 'events.link'|trans }}">{{ 'events.link'|trans }}</a>
        <a href="{{ url('contact_index') }}" title="{{ 'contacts.link'|trans }}">{{ 'contacts.link'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('category_index') }}" title="{{ 'categories.link'|trans }}">{{ 'categories.link'|trans }}</a>
        <a href="{{ url('user_index') }}" title="{{ 'users.link'|trans }}">{{ 'users.link'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}