{% extends 'base.html.twig' %}

{% block title %}
    {{ 'create.event'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'create.event'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('event_index') }}" title="{{ 'events.link'|trans }}">{{ 'events.link'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}